* {
	-fx-font-family: "monospace";
}

.root {
    -fx-background-color: #F8FAFF;
}

.header, LatexView {
    -fx-font-size: 150%;
}

.chart-plot-background {
    -fx-background-color: #FFFFFF;
}

.sidebar {
    -fx-background-color: #DFE7FC;
}

.sidebar > HBox {
    -fx-alignment: center-left;
}

.sidebar > Label {
    -fx-padding: 15 0 2 0;
    -fx-text-fill: #555;
}

.sidebar TextField {
    -fx-min-width: 100px;
}


.chart-series-line {
    -fx-stroke: gray;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5 5;
}

.series0.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 1;
}

